//Icons sourced from https://opengameart.org/content/700-rpg-icons

@import 'bootstrap/bootstrap.scss';

//Colors
$primary-color: $brand-primary;

html {
    height: 100%;
    background-attachment:fixed;
    /* IE10+ */
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #D9BA91 0%, #EBC99D 50%, #CCAE88 75%, #E6C599 87.5%, #F2D0A2 93.75%, #D4B58D 100%);

    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #D9BA91 0%, #EBC99D 50%, #CCAE88 75%, #E6C599 87.5%, #F2D0A2 93.75%, #D4B58D 100%);

    /* Opera */
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #D9BA91 0%, #EBC99D 50%, #CCAE88 75%, #E6C599 87.5%, #F2D0A2 93.75%, #D4B58D 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(0, #D9BA91), color-stop(50, #EBC99D), color-stop(75, #CCAE88), color-stop(87.5, #E6C599), color-stop(93.75, #F2D0A2), color-stop(100, #D4B58D));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #D9BA91 0%, #EBC99D 50%, #CCAE88 75%, #E6C599 87.5%, #F2D0A2 93.75%, #D4B58D 100%);
}
body {background: transparent; }

h1,h2,h3,h4,h5,h6 {
    color: $primary-color;
}

.container {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: .25rem;
}

.panel {
    background: #fffaf0;
    border: 8px solid transparent;
    border-image: url(/images/leaf-border.png) 50 round;
    padding: 1rem;
    margin-bottom: .5rem;
    position: relative;
}

.panel h3, .panel h4, .panel strong {
    color: $primary-color;
}

.panel hr {
    border-color: $primary-color;
}

.panel.participant{
    position: relative;
    form {
        display: inline-block;

        select {
            color: #888;
            padding: .25rem 0;
            width: 50px;
        }

        input[type="input"] {
            width: 45px;
        }

        input[name="initiative"] {
            width: 30px;
            color: $primary-color;
            font-weight: bold;
        }

        .button {
            background-color: #b56054;
        }

        &.remove-monster {
            .button {
                color: $brand-primary;
                background-color: transparent;
                font-size: 0.8rem;
                box-shadow: none;
                padding: 0;
                border: none;
                position: absolute;
                top: 0;
                left: 2px;
            }
        }
    }

    .hitpoints {
        color: $primary-color;
        font-weight: bold;
    }

    &.inactive {
        background: #d79265;
    }

    .conditions {
        position: absolute;
        top: -.75rem;
        left: -.5rem;
        width: 100%;
        z-index: 999;
        .details {
            display:none;
        }
    }
    &.character {
        background: darken(#fffaf0, 15%);
    }
}

.panel.monster-template p {
    margin-bottom: .5rem;
    line-height: 1.2;
}
.panel.monster-template hr {
    margin: .25rem 0;
}

.italic {
    font-style: italic;
}

.statblock {
    text-align: center;
}
.statblock .stat {
    color: $primary-color;
    display:block;
    text-transform: uppercase;
    font-weight: bold;
}

.button {
    cursor: pointer;
    border:none;
    display:inline-block;
    background: $primary-color;
    border-radius: 5px;
    padding: 0.25rem .5rem;
    text-decoration: none;
    color: #eee;
    box-shadow: 1px 2px 2px #d2b48c;
}

.button:hover {
    text-decoration: none;
    color: #eee;
    background: $primary-color;
}

.monster-search,
.spell-search {
    width: 100%;
}

.condition-icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-right: .25rem;
    float: left;
    &.Blinded {
        color: purple;
        background: url('/images/blinded.png');
        background-size: cover;
    }
    &.Charmed {
        color: purple;
        background: url('/images/charmed.png');
        background-size: cover;
    }
    &.Deafened {
        color: purple;
        background: url('/images/deafened.png');
        background-size: cover;
    }
    &.Frightened {
        color: purple;
        background: url('/images/frightened.png');
        background-size: cover;
    }
    &.Grappled {
        color: purple;
        background: url('/images/grappled.png');
        background-size: cover;
    }
    &.Incapacitated {
        color: purple;
        background: url('/images/incapacitated.png');
        background-size: cover;
    }
    &.Invisible {
        color: purple;
        background: url('/images/invisible.png');
        background-size: cover;
    }
    &.Paralyzed {
        color: purple;
        background: url('/images/paralyzed.png');
        background-size: cover;
    }
    &.Petrified {
        color: purple;
        background: url('/images/petrified.png');
        background-size: cover;
    }
    &.Poisoned {
        color: purple;
        background: url('/images/poisoned.png');
        background-size: cover;
    }
    &.Prone {
        color: purple;
        background: url('/images/prone.png');
        background-size: cover;
    }
    &.Restrained {
        color: purple;
        background: url('/images/restrained.png');
        background-size: cover;
    }
    &.Stunned {
        color: purple;
        background: url('/images/stunned.png');
        background-size: cover;
    }
    &.Unconscious {
        color: purple;
        background: url('/images/unconscious.png');
        background-size: cover;
    }
}

#Conditions {
    position:absolute;
    top: 0;
    left: 0;
    .panel {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        min-width: 600px;
        max-width: 700px;
        transition: opacity 150ms;
        z-index: -1;
    }
}

.nav {
    border-bottom: 1px solid $brand-primary;
}
