<form action="/encounter/<%=@encounter_id%>/addmonster/" method="post">
    <input type="input" name="monster_type_id" value="" placeholder="0">
    <input type="submit" class="button" value="Submit">
</form>
