<form action="/encounter/<%=@encounter_id%>/addmonster/" method="post">
    <div class="row">
        <div class="col-8">
            <select class="monster-search" name="monster_type_id"></select>
        </div>
        <div class="col text-right">
            <input type="submit" class="button" value="Add New Monster"/>
        </div>
    </div>
</form>
