<form action="/encounter/<%=@encounter_id%>/addmonster/" method="post">
    <div class="row">
        <div class="col-6">
            <select class="monster-search" name="monster_type_id"></select>
        </div>
        <div class="col">
            <select class="number_of" name="number_of">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <div class="col text-right">
            <input type="submit" class="button" value="Add New Monster"/>
        </div>
    </div>
</form>
