<form action="/encounter/<%=@encounter_id%>/addmonster/" method="post">
    <select class="monster-search" name="monster_type_id"></select>
    <input type="submit" class="button" style="margin-top:.25rem; margin-bottom:.25rem" value="Add New Monster"/>
</form>
