<form method="get">
    <div class="row">
        <div class="col-8">
            <select class="spell-search" name="spell_id"></select>
        </div>
        <div class="col text-right">
            <input type="submit" class="button" value="Search Spells"/>
        </div>
    </div>
</form>
