
        <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script -->
        <script src="/plugins/vendor/jquery-2.1.0.js"></script>
        <script src="/plugins/select2/js/select2.full.min.js"></script>
        <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/actions.js"></script>
        <!--script src="/js/map.js"></script-->
        <script src="/plugins/vendor/react/react.development.js"></script>
        <script src="/plugins/vendor/react/react-dom.development.js"></script>
        <!-- script src="/js/react/custom.js"></script-->
        <script src="/js/react/monster.js"></script>
        <script src="/js/react/encounter-details.js"></script>
        <script src="/js/react/encounter.js"></script>
        <script src="/js/react/participant.js"></script>
    </body>

</html>
