
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/plugins/select2/js/select2.full.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/actions.js"></script>
    </body>

</html>
