<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Eye Tyrant</title>
        <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
        <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">

        <link rel="stylesheet" href="/css/app.css">
    </head>

    <body>
        <div class="container">
            <nav class="nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/encounters/">Encounters</a>
                <a class="nav-link" href="/parties/">Parties</a>
                <a class="nav-link" href="/monsters/">Monsters</a>
                <a class="nav-link" href="/spells/">Spells</a>
            </nav>
        </div>
