<%= erb :header %>
<div class="container">
    <div class="row">
        <div class="col-md">
            <canvas id="map" class="panel" height="600" width="600">
                <div id="map-src" data-bg="/images/maps/dungeon.jpg"> </div>
            </canvas>
        </div>
    </div>
</div>
<%= erb :footer %>
