<%= erb :header %>
<div class="container">
    <div class="row">
        <div class="col-md">
            <form>
                <select class="monster-search"></select>
            </form>
        </div>
    </div>
    <%if @mob != nil %>
        <%= erb :monstertemplate %>
    <%end%>
</div>
<%= erb :footer %>
