<%= erb :header %>
<div class="container">
    <div class="row">
        <div class="col-md">
            <h1>Go ahead. Search for a monster. See if I care.</h1>
            <%= erb :findmonster %>
        </div>
    </div>
    <div class="row">
        <%if @mob != nil %>
            <div id="monster_id" data-id="<%= @mob.id %>"></div>
            <div id="monster_pane" class="col-md-8"></div>
        <%end%>
    </div>
</div>
<%= erb :footer %>
