<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Eye Tyrant</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <% @parties.each do |party| %>
                        <div class="panel">
                            <form action="/newencounter/" method="post">
                                <h1><%= party.name%></h1>
                                <input type="hidden" name="party_id" value="<%= party.id%>" placeholder="0">
                                <input type="submit" class="button" value="Select This Party">
                            </form>
                        </div>
                    <%end%>
                </div>
                <div class="col-md">
                    <a class="button" href="/newencounter/">New Encounter</a>
                </div>
            </div>
        </div>
    </body>

</html>

