<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Eye Tyrant</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <% @members.each do |m| %>
                        <div class="panel">
                            <h3><%= m.name %></h3>
                            <p><<%= m.race %></p>
                        </div>
                    <%end%>
                </div>
                <div class="col-md">
                    <a href="addmember/" class="button">Add New Member</a>
                </div>
            </div>
        </div>
    </body>

</html>
