<form name="remove-condition" action="/participant/<%=@party.id%>/character-condition/" method="post">
    <input type="input" name="participant_id" value="" placeholder="id">
    <input type="submit" class="button" value="Submit">
</form>
