<%= erb :header %>
<div class="container">
    <div class="row">
        <div class="col-md">
            <h1>That spell probably doesn't do what you think it does</h1>
            <%= erb :findspell %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <%if @spell != nil %>
                <%= erb :spelltemplate %>
            <%end%>
        </div>
    </div>
</div>
<%= erb :footer %>
