h1,h2,h3,h4,h5,h6 {
    color: #5f0d0a;
}

.container {
    margin-top: 1rem;
}
.panel {
    background: #fffaf0;
    border: 1px solid #5f0d0a;
    padding: 1rem;
    margin-bottom: 1rem;
}

.panel h3, .panel h4, .panel strong {
    color: #5f0d0a;
}

.panel hr {
    border-color: #5f0d0a;
}

.italic {
    font-style: italic;
}

.statblock {
    text-align: center;
}
.statblock .stat {
    color: #5f0d0a;
    display:block;
    text-transform: uppercase;
    font-weight: bold;
}

.button {
    display:inline-block;
    background: #5f0d0a;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #eee;
    box-shadow: 1px 2px 2px #e0e5e5;
}

.button:hover {
    text-decoration: none;
    color: #eee;
    background: #5f0d0a;
}

.monster-search {
    width: 100%;
}
