html, body {
    width: 100%;
    line-height: 1.6;
}

.wrapper {
    margin: 0 auto;
    width: 600px;
}

#InitiativeList {
    display:block;
}

.entry {
    padding: .25em;
}

.inish,
.name,
.damage,
.new_damage {
    margin: auto .25rem;
}
.inish,
.damage,
.new_damage {
    width: 20px;
}

.damage,
.new_damage {
}

.buttons {
    display:block;
    clear:both;
}
.buttons:after {
    display:block;
    clear:both;
}
.button {
    background: #ccc;
    color: #fff;
    display:block;
    padding: 1rem 2rem;
    margin: .25rem;
    text-align: center;
    text-decoration: none;
    float: left;
}

.remove {
    background: #ccc;
    color: #fff;
    padding: .25rem;
    text-align: center;
    text-decoration: none;
}

.update_damage {
    background: #ccc;
    color: #fff;
    padding: .25rem;
    margin: auto .25rem;
    text-align: center;
    text-decoration: none;
}

.search {
    display:block;
    width: 100%;
}
#Monster {
    width: 200px;
}
