<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
        <meta name="viewport" content="width=device-width"/>
        <title>eye tyrant</title>
        <link rel="stylesheet" href="<% request.uri_base %>/jquery-ui/jquery-ui.css" />
        <link rel="stylesheet" href="<% request.uri_base %>/css/app.css" />
    </head>
    <body>
        <div class="row">
            <div class="medium-12 columns">
                <div class="content">
                    <% content %>
                </div>
            </div>
        </div>
        <div class="footer">
            <script src="<% request.uri_base %>/javascripts/jquery.js"></script>
            <script src="<% request.uri_base %>/js/foundation/foundation.js"></script>
            <script src="<% request.uri_base %>/js/foundation/foundation.orbit.js"></script>
            <script src="<% request.uri_base %>/jquery-ui/jquery-ui.js"></script>
            <script src="<% request.uri_base %>/js/autocomplete.js"></script>
            <script>
                $(document).foundation();
            </script>
        </div>
    </body>
</html>
