<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
        <title>eye tyrant</title>
        <link rel="stylesheet" href="<% request.uri_base %>/jquery-ui/jquery-ui.css" />
        <link rel="stylesheet" href="<% request.uri_base %>/css/app.css" />

        <!-- Grab jQuery from a CDN, fall back to local if necessary -->
        <script type="text/javascript">/* <![CDATA[ */
            !window.jQuery && document.write('<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.js"><\/script>')
            /* ]]> */</script>
    </head>
    <body>
        <div class="row">
            <div class="medium-12 columns">
                <h1>eye tyrant</h1>
                <div class="content">
                    <% content %>
                </div>
            </div>
        </div>
        <div class="footer">
            <script src="<% request.uri_base %>/jquery-ui/jquery-ui.js"></script>
            <script src="<% request.uri_base %>/js/inish.js"></script>
            <script src="<% request.uri_base %>/js/autocomplete.js"></script>
        </div>
    </body>
</html>
